<h1>Register Hotel</h1>
<link rel="stylesheet" href="/style.css">
<a href="/bookings">Back to Bookings</a>
<form action="/hotels/register" method="POST">
  <input name="name" placeholder="Hotel Name" required><br>
  <input name="location" placeholder="Location" required><br>
  <input name="roomsAvailable" placeholder="Rooms Available" type="number" required><br>
  <button type="submit">Register Hotel</button>
</form>
